body {
    background-image: url(../img/concrete_seamless.png);
}

.name {
    position: fixed;
}

.yazi {
    margin-left: 63.3em;
    position: relative;
}

.name {
    border: 1px solid aqua;
    background: aqua;
    width: 100%;
    margin-left: 7em !important;
    text-align: center !important;
    color: white !important;
    height: 3em !important; 
    position: relative;
}

div a .name:hover {
    background-color: aqua;
    color: white;
}

.body-one {
    background-color: white;
    width: 100%;
    height: 25em;
    margin-top: 5em;
    margin-left: 2.4em;
    padding: 2em;
}

.body-one h1{
    color: aqua;
    font-weight: bold;
}

.img {
    width: 40%;
}

.txt {
    margin-left: 14em;
    margin-top: -7.5em;
    font-size: 21px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-one {
    width: 23%;
    margin-left: 3em;
}

.img-two {
    width: 23%;
}

.img-three {
    width: 23%;
}

.cwm {
    background-color: white;
    width: 75%;
    padding: 2em;
    margin-left: 3em;
    margin-top: 5em;
}

.cwm h1 {
    color: aqua;
    font-weight: bold;
    font-size: 30px;
}

.footer-one {
    border: 5px solid aqua;
    margin-top: 5em;
}

.footer-two {
    background-color: darkgrey;
    text-align: center;
    padding: 2em;
    margin-top: 0.1em;
}

.footer-two h5 {
    color: white;
}

@media screen and (max-width: 1024px) {
    .yazi {
        margin-left: 38em;
    }
}

@media screen and (max-width: 768px) {
    .yazi {
        margin-left: 23em;
    }

    .name-body {
        margin-left: 0em;
        width: 102%;
    }

    .body-one {
        width: 93%;
    }

    .cwm {
        width: 60%;
        margin-left: 11em;
    }
}

@media screen and (max-width: 425px) {
    .name-body {
        width: 53.8em;
        height: 4em;
    }

    .name {
        width: 6em;
    }

    .yazi {
        margin-left: 19em;
        margin-top: -3.5em;
    }

    .txt1 {
        margin-left: 4em;
        margin-top: -2.8em;
    }

    .txt2 {
        margin-left: 9.3em;
        margin-top: -2.8em;
    }

    .name {
        left: -4em;
    }

    .body-one {
        width: 174%;
        margin-left: 1em;
    }

    .txt{
        margin-left: 16em;
        font-size: 1.5em;
        margin-top: -9em;
    }

    .img {
        width: 50%;
        margin-left: -1em;
    }

    .img-one {
        margin-left: 5em;
    }

    .cwm {
        width: 132%;
        margin-left: 6em;
    }
}

.name-1 {
    background-color: aqua;
    padding: 2em !important;
    text-align: center;
    margin-top: -1em;
    margin-left: 7em !important;
    width: 65%;
    color: white;
}

.yazi-1 {
    margin-left: 56em !important;
}

.head-1 {
    background-color: white;
    padding: 2em;
    width: 100%;
    margin-left: -1em;
    margin-top: 5em;
}

.head-1 h1 {
    color: aqua;
    font-weight: bold;
}

.img-1 {
    width: 45%;
}

.img-2 {
    width: 45%;
    margin-left: 21em;
    margin-top: -16.4em;
}

.img-3 {
    width: 45%;
    margin-top: 3em;
}

.img-4 {
    width: 45%;
    margin-left: 21em;
    margin-top: -16.2em;
}

.img-5 {
    width: 45%;
    margin-top: 3em;
}

.foot-1 {
    background-color: white;
    padding: 2em;
    margin-left: -1em;
    margin-top: 5em;
    margin-right: 7em;
}

.foot-1 h1 {
    color: aqua;
    font-weight: bold;
}

.img-6 {
    width: 20%;
    margin-left: 5em;
}

.img-7 {
    width: 20%;
}

.img-8 {
    width: 20%;
}

.footer-1 {
    width: 100%;
    background-color: aqua;
    height: 10px;
    margin-top: 5em;
}

.txt-one-11 {
    background-color: aqua;
    width: 19.2em;
    margin-left: 0em;
    text-align: center;
    margin-top: -4em;
    position: relative;
    padding: 1px;
    color: white;
}

.txt-two-2 {
    margin-left: 21em;
    background-color: aqua;
    width: 19.2em;
    text-align: center;
    padding: 1px;
    margin-top: -5.6em;
    position: relative;
    color: white;
}

.txt-two-3 {
    margin-left: 0em;
    background-color: aqua;
    width: 19.2em;
    padding: 1px;
    text-align: center;
    position: relative;
    margin-top: -4em;
    color: white;
}

.txt-two-4 {
    margin-left: 21em;
    background-color: aqua;
    padding: 1px;
    text-align: center;
    position: relative;
    width: 19.2em;
    margin-top: -5.6em;
    color: white;
}

.txt-two-5 {
    margin-left: 0em;
    background-color: aqua;
    width: 19.2em;
    padding: 3px;
    position: relative;
    text-align: center;
    margin-top: -4.4em;
    color: white;
}

.txt-one-1 {
    background-color: darkgray;
    padding: 1em;
    text-align: center;
    color: white;
}

.yazi-11 {
    margin-left: 60em !important;
}

.name-11 {
    background-color: aqua;
    width: 7em;
    text-align: center;
    margin-left: 6em !important;
    color: white !important;
    font-weight: bold;
}

.head-11 {
    background-color: white;
    padding: 2em;
    margin-top: 5em;
}

.head-11 h1 {
    color: aqua;
    font-weight: bold;
}

.input-1 {
    border: 1px solid darkgray;
    height: 2em;
    padding: 1em;
    font-family: monospace;
    width: 42.5em;
}

.txt-11 {
    margin-left: 4px;
    font-family: monospace;
}

.txt-22 {
    margin-top: 2em;
    margin-left: 4px;
    font-family: monospace;
}

.input-2 {
    width: 100%;
    height: 2em;
    padding: 1em;
    border: 1px solid darkgrey;
    font-family: monospace;
}

.txt-33 {
    margin-top: 2em;
    margin-left: 4px;
    font-family: monospace;
}

.input-3 {
    border: 1px solid darkgray;
    width: 100%;
    height: 18em;
}

.txt-44 {
    text-decoration: none !important;
    background-color: rgb(43, 94, 94);
    color: white;
    padding: 1em;
    width: 29%;
    font-weight: bold;
    margin-top: 1.5em;
}

.img-9 {
    width: 20%;
    margin-left: 5em;
}

.img-10 {
    width: 20%;
}

.img-11 {
    width: 20%;
}

.foot-2 {
    background-color: white;
    padding: 2em;
    margin-top: 5em;
    margin-right: 7em;
}

.footer-2 {
    border: 4px solid aqua;
}

.footer-3 {
    background-color: darkgrey;
    height: 4em;
    padding: 1em;
    text-align: center;
}

.foot-2 h1 {
    color: aqua;
    font-weight: bold;
}

.navbar-brand:hover{
    background-color: aqua;
    color: white;
    font-weight: bold;
}